.dashboard{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:30px;

margin-top:40px;

}

.dashboard-card{

padding:35px;

border-radius:12px;

background:white;

box-shadow:

0 5px 15px rgba(0,0,0,.15);

transition:.3s;

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-8px);

}