.dashboard{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:30px;

margin-top:40px;

}

.dashboard-card{

padding:35px;

border-radius:12px;

background:white;

box-shadow:

0 5px 15px rgba(0,0,0,.15);

transition:.3s;

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-8px);

}
.welcome-box{

background:#ffffff;

padding:30px;

border-radius:15px;

margin:30px 0;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.welcome-box h1{

color:#0b5d1e;

font-size:34px;

margin-bottom:10px;

}

.welcome-box p{

font-size:18px;

color:#666;

line-height:1.6;

}