.shop-page{

padding:40px;

background:#f4f6f9;

min-height:100vh;

}

.shop-page h1{

color:#064420;

margin-bottom:40px;

}

.shop-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:25px;

}

.shop-card{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

}

.shop-card:hover{

transform:translateY(-5px);

}

.shop-card h2{

color:#064420;

margin-bottom:20px;

}

.shop-card p{

margin-bottom:10px;

color:#444;

}

.active{

color:green;

font-weight:bold;

}

.shop-card button{

margin-top:20px;

width:100%;

padding:12px;

background:#064420;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.shop-card button:hover{

background:#0b7d43;

}