.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 40px;

background:#064420;

}

.logo{

color:white;

font-size:28px;

font-weight:bold;

}

.links{

display:flex;

gap:30px;

}

.links a{

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

}

.links a:hover{

color:#FFD369;

}